.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 60px 30px 45px;
    grid-gap: 15px;
    color: rgb(252, 252, 249);
  }
  .one {
    background-color: lightcoral;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;

  }
  .two { 
    background-color: lightseagreen;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .three {
    background-color: maroon;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .four {
    background-color: midnightblue;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

  }
  .five {
    background-color: olive;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .six {
    background-color: orchid;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }
.seven {
    background-color: purple;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;

}
.eight {
    background-color: steelblue;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.nine {
    background-color: teal;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.wrapper div {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  box-sizing: border-box;
  color: floralwhite;
  font-weight: bold;
  font-size: 1.5em;
}
